* {
  margin: 0;
}
/* .container {
  
} */
.box {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  /* text-align: center; */
}

.color {
  position: absolute;
  left: 20px;
  top: 50px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}
.box1 {
  background: #1abc9c;
}
.box2 {
  background: #3498db;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #34495e;
}
.box5 {
  background: #f1c40f;
}
.box6 {
  background: #e67e22;
}
.box7 {
  background: #e74c3c;
}
.box8 {
  background: #bdc3c7;
}
.box9 {
  background: #2ecc71;
}
.box10 {
  background: #16a085;
}
